<div class="card pt-3">
  <div class="card-header p-2">
    <h3>Recommended PC#{{ id }}</h3>
  </div>
  <div class="card-body p-2">
    <div class="row">
      <div class="col-1 offest-1 miniHead">Proccesor :</div>
      <div class="col-6">{{ pc.cpuName }}</div>
    </div>
    <div class="row">
      <div class="col-1 offest-1 miniHead">Graphic card :</div>
      <div class="col-6">{{ pc.gpuName }}</div>
    </div>
    <div class="row">
      <div class="col-1 offest-1 miniHead">RAM :</div>
      <div class="col-6">{{ pc.ramName }}</div>
    </div>
    <div class="row">
      <div class="col-1 offest-1 miniHead">Storage :</div>
      <div class="col-6">{{ pc.storageName }}</div>
    </div>
    <div class="row">
      <div class="col-1 offest-1 miniHead">Motherboard :</div>
      <div class="col-6">{{ pc.motherboardName }}</div>
    </div>
  </div>
</div>
