<div class="card p-3 my-5">
  <div class="card-header">Find PC with similar characteristics</div>
  <div class="card-body">
    <label for="cpu-select">CPU</label>
    <select
      id="cpu-select"
      class="form-control select"
      data-select2-id="cpu-select"
      tabindex="-1"
      aria-hidden="true"
      [(ngModel)]="myPC.cpuName"
    >
      <option value="" data-select2-id="2">Select a CPU..</option>
      <option value="{{ item }}" *ngFor="let item of cpuList">
        {{ item }}
      </option>
    </select>
    <label for="gpu-select">GPU</label>
    <select
      id="gpu-select"
      class="form-control select"
      data-select2-id="gpu-select"
      tabindex="-1"
      aria-hidden="true"
      [(ngModel)]="myPC.gpuName"
    >
      <option value="" data-select2-id="2">Select a GPU..</option>
      <option value="{{ item }}" *ngFor="let item of gpuList">
        {{ item }}
      </option>
    </select>
    <label for="ram-select">RAM</label>
    <select
      id="ram-select"
      class="form-control select"
      data-select2-id="ram-select"
      tabindex="-1"
      aria-hidden="true"
      [(ngModel)]="myPC.ramName"
    >
      <option value="" data-select2-id="2">Select a RAM..</option>
      <option value="{{ item }}" *ngFor="let item of ramList">
        {{ item }}
      </option>
    </select>
    <label for="storage-select">Storage</label>
    <select
      id="storage-select"
      class="form-control select"
      data-select2-id="storage-select"
      tabindex="-1"
      aria-hidden="true"
      [(ngModel)]="myPC.storageName"
    >
      <option value="" data-select2-id="2">Select a storage..</option>
      <option value="{{ item }}" *ngFor="let item of storageList">
        {{ item }}
      </option>
    </select>
    <label for="motherboard-select">Motherboard</label>
    <select
      id="motherboard-select"
      class="form-control select"
      data-select2-id="motherboard-select"
      tabindex="-1"
      aria-hidden="true"
      [(ngModel)]="myPC.motherboardName"
    >
      <option value="" data-select2-id="2">Select a motherboard..</option>
      <option value="{{ item }}" *ngFor="let item of motherboardList">
        {{ item }}
      </option>
    </select>
  </div>
  <div class="card-footer">
    <h4>PC Similarity</h4>
    <button id="btn_compare" class="btn btn-primary" (click)="search()">
      Get similar Pcs
    </button>
  </div>
  <div class="recommend">
    <div *ngIf="loading === true">
      <h2>LOADING... PLEASE WAIT</h2><mat-spinner></mat-spinner>
    </div>
    <ul *ngIf="loading === false">
      <li *ngFor="let pc of recommendedPCs; let i = index">
        <app-base-pc-recommend [pc]="pc" [id]="i + 1"></app-base-pc-recommend>
      </li>
    </ul>
  </div>
</div>
