<div class="card p-3 my-5">
  <div class="card-header">Definisi slucaj</div>
  <div class="card-body">
    <h2>Krivicno delo Zakona o slatkovodnom ribarstvu i akvakulturi</h2>
    <div>
      <label for="law1art-input">Clan</label>
    </div>
    <input
      id="law1art-input"
      class="form-control select"
      data-select2-id="law1art-input"
      tabindex="-1"
      aria-hidden="true"
      type="number"
      [(ngModel)]="articleZOSRA"
    />
    <label for="law1para-input">Stav</label>
    <input
      id="law1para-input"
      class="form-control select"
      data-select2-id="law1para-input"
      tabindex="-1"
      aria-hidden="true"
      type="number"
      [(ngModel)]="paragraphZOSRA"
    />
    <label for="law1point-input">Tacka</label>
    <input
      id="law1point-input"
      class="form-control select"
      data-select2-id="law1point-input"
      tabindex="-1"
      aria-hidden="true"
      type="number"
      [(ngModel)]="pointZOSRA"
    />
    <h2>Krivicno delo Krivicnog Zakonika Crne Gore</h2>
    <div>
      <label for="law2art-input">Clan</label>
    </div>
    <input
      id="law2art-input"
      class="form-control select"
      data-select2-id="law2art-input"
      tabindex="-1"
      aria-hidden="true"
      type="number"
      [(ngModel)]="articleKZ"
    />
    <label for="law2para-input">Stav</label>
    <input
      id="law2para-input"
      class="form-control select"
      data-select2-id="law2para-input"
      tabindex="-1"
      aria-hidden="true"
      type="number"
      [(ngModel)]="paragraphKZ"
    />
    <label for="law2point-input">Tacka</label>
    <input
      id="law2point-input"
      class="form-control select"
      data-select2-id="law2point-input"
      tabindex="-1"
      aria-hidden="true"
      type="number"
      [(ngModel)]="pointKZ"
    />
    <label for="br-input">Broj riba</label>
    <input
      id="br-input"
      class="form-control select"
      data-select2-id="br-input"
      tabindex="-1"
      aria-hidden="true"
      type="number"
      [(ngModel)]="fishNumber"
    />
    <h2>Primenjeni propisi</h2>
    <div>
      <label for="law3art-input">Clan</label>
    </div>
    <input
      id="law3art-input"
      class="form-control select"
      data-select2-id="law3art-input"
      tabindex="-1"
      aria-hidden="true"
      type="number"
      [(ngModel)]="articleRegulation"
    />
    <label for="law3para-input">Stav</label>
    <input
      id="law3para-input"
      class="form-control select"
      data-select2-id="law3para-input"
      tabindex="-1"
      aria-hidden="true"
      type="number"
      [(ngModel)]="paragraphRegulation"
    />
    <label for="law3point-input">Tacka</label>
    <input
      id="law3point-input"
      class="form-control select"
      data-select2-id="law3point-input"
      tabindex="-1"
      aria-hidden="true"
      type="number"
      [(ngModel)]="pointRegulation"
    />
    <button
      style="margin-top: 10px"
      id="btn_component"
      class="btn btn-primary"
      (click)="addRegulation()"
    >
      +
    </button>
    <ul>
      <li *ngFor="let regulation of regulations">{{ regulation }}</li>
    </ul>
  </div>
  <div class="card-footer">
    <div class="d-flex">
      <h4>Predlozi presudu</h4>
      <span class="ms-auto">
        <button
          id="btn_component"
          class="btn btn-primary"
          (click)="getJudgement()"
        >
          Posalji
        </button>
      </span>
    </div>
  </div>
</div>
<div class="recommend">
  <ul *ngIf="cbrCases">
    <li *ngFor="let case of cbrCases; let i = index">
      <div class="card pt-3">
        <div class="card-header p-2">
          <div class="d-flex">
            <h3>Similiar case#{{ case.id }}</h3>
            <span class="ms-auto">
              <button
                id="btn_component"
                class="btn btn-primary"
                (click)="saveCase(case)"
              >
                Sacuvaj slucaj sa ovom presudom
              </button>
            </span>
          </div>
        </div>
        <div class="card-body p-2">
          <div class="row">
            <div class="col-4 offest-1 miniHead">Sud :</div>
            <div class="col-6">{{ case.sud }}</div>
          </div>
          <div class="row">
            <div class="col-4 offest-1 miniHead">Poslovni broj :</div>
            <div class="col-6">{{ case.poslovniBroj }}</div>
          </div>
          <div class="row">
            <div class="col-4 offest-1 miniHead">Sudija :</div>
            <div class="col-6">{{ case.sudija }}</div>
          </div>
          <div class="row">
            <div class="col-4 offest-1 miniHead">Tuzilac :</div>
            <div class="col-6">{{ case.tuzilac }}</div>
          </div>
          <div class="row">
            <div class="col-4 offest-1 miniHead">Okrivljeni :</div>
            <div class="col-6">{{ case.okrivljeni }}</div>
          </div>
          <div class="row">
            <div class="col-4 offest-1 miniHead">Krivicno delo ZOSRA :</div>
            <div class="col-6">{{ case.krivicnoDeloZOSRA }}</div>
          </div>
          <div class="row">
            <div class="col-4 offest-1 miniHead">Krivicno Delo KZ :</div>
            <div class="col-6">{{ case.krivicnoDeloKZ }}</div>
          </div>
          <div class="row">
            <div class="col-4 offest-1 miniHead">Broj riba :</div>
            <div class="col-6">{{ case.brojRiba }}</div>
          </div>
          <div class="row">
            <div class="col-4 offest-1 miniHead">Vrsta presude :</div>
            <div class="col-6">{{ case.vrstaPresude }}</div>
          </div>
          <div class="row">
            <div class="col-4 offest-1 miniHead">Primenjeni propisi :</div>
            <div *ngFor="let propis of case.primenjeniPropisi" class="col-6">
              {{ propis }}
            </div>
          </div>
          <div class="row">
            <div class="col-4 offest-1 miniHead">Presuda :</div>
            <div class="col-6">{{ case.presuda }}</div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
